@{
     ViewBag.Title = "Home Page";
}
<html ng-app="AngularSocionic">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js"></script>
    <script src="~/Scripts/ang.js" asp-append-version="true"></script>
</head>
<body>
    <div class="btn-group" id="Quests" style="text-align: center; margin-top: 10%; margin-bottom: 10%">
        <div ng-controller="TestCtrl" class="btn-group-justified" data-toggle="buttons">
            <p style="margin-bottom: 3%">Вопрос {{numberQuest+1}} из 28</p>
            <button ng-click="checkAnswer(1)" type="button" class="btn {{Style[0]}} btn-lg" style="width: 45%">{{firstValue[numberQuest]}}</button>
            <button ng-click="checkAnswer(0)" type="button" class="btn {{Style[0]}} btn-lg" style="width: 45%">{{secondValue[numberQuest]}}</button>
            <div ng-repeat="array in arrayAnswers track by $index">
                {{array}}
            </div>
        </div>
    </div>

    <div id="resultInfo"></div>
</body>
</html>
<script>

</script>



