<html>
<head>
	<title>
		ЭИЭ - Гамлет
	</title>
</head>
<body>

	
<div class="container-fluid" align="left">
	<div class="jumbotron" align="center">
		<h3 class="text-success">Психотип:<strong>Этико интуитивный экстраверт (ЭИЭ) - Гамлет</strong> </h3> 
	</div>
	<div class="jumbotron">
		<h3 class="text-primary"><strong>Краткое описание социотипа:</strong> </h3>
		<p>
			Гамлет это человек-артист, человек-эмоция. 
			Будучи сотрудником в военной или в какой-либо структурной организацией с четкой иерархией, такой человек может очень легко и просто зажигать и вдохновлять своих коллег, заражать эмоционально. 
			Проявить силу воли и надавить на человека ему может быть трудно, но вот проявить эмоции, накричать, закатить истерику — проще и гармоничнее. 
			Ему во всём этом помогает ещё и сильная интуиция времени, которая даёт понять, когда стоит действовать, а когда не стоит. 
			Поскольку Наставник достаточно артистичный, его ждёт скорее всего успех, ибо он очень хорошо понимает какие эмоции и когда следует выражать так, чтобы заразить ими окружающих его людей.
		</p>
		<p>
			ТИМ Гамлет подразумевает сильную этику и интуицию (этику эмоций и интуицию времени) что, в сочетании, дает творческую натуру. 
			Мир Гамлета — это эмоции. Происходящие события воспринимаются через призму вызываемых эмоций. 
			Человек чувствует свое эмоциональное состояние, эмоции других людей, эмоции в коллективе, эмоции в каждом действии и каждом событии. 
			Он может влиять на эти эмоции, создавать собой настроения.
		</p>
		<p>
			Люди с таким ТИМом нередко успешны в музыке или в написании красивых стихов или текстов, на сцене. 
			Они создают ситуации, где могут уместным образом проявить свои эмоции. Чувствуют, как и когда устроить истерику, как эмоциями привлечь внимание к себе — при этом подстроившись под особенности людей рядом. Могут утешить. 
			Могут сделать эмоциональный фон гармоничнее, а могут напротив, обострить его. Умеют менять свое внутреннее настроение и настроения вокруг себя.
		</p>
		<p>
			Такие люди могут хорошо видеть перспективы, что будет дальше, как дальше будут развиваться события. 
			Умеют вдохновлять и порождать энтузиазм. Умеют красиво хвалить и подчеркивать значимость других людей или ситуаций, а также умеют создавать подрывные настроения. 
			Экстраверты, могут устанавливать контакты с людьми, разбираться в отношениях, подтекстах и полутонах.
		</p>
		<p>
			Зачастую такие люди реализовывают себя по слабым функциям, оставляя вышеназванное, как потенциал, который реализуется лишь по необходимости. 
			За счет сильного потока информации про эмоции и изменения им может быть сложно стройно мыслить, последовательно, структурировать и систематизировать информацию. 
			Однако опыт и умение с интересом и некритично осваивать научные знания делают свое дело.
			Гамлету может быть не так просто сосродоточиться на одной задаче и довести ее до конца — к нему постоянно приходит информация о чем-то большем, о развитии, эмоциональное, другие задачи, люди — умение концентрироваться им помогает, но достигается не сразу.
		</p>
		<p>
			Обладая признаком Рейнина «аристократизм», с учетом ценностей своей квадры Бета, они склонны уважать старших по возрасту, по званию, по авторитету. 
			Им важен авторитет — как их собственный, так и авторитет других людей. Они умеют подстраиваться под людей в зависимости от их авторитетности. 
			Зачастую делают вывод о человеке исходя из наличия у него регалий и званий. Уважают наличие высшего образования у людей.
		</p>
		<p>
			Внешний вид и впечатление, кое они производят на других, зачастую важнее собственного внутреннего комфорта, и потому могут работать на износ, ставить себе задачи на выносливость (что соционически сильным не является, хотят может быть наработано довольно неплохо), носить мадоудобную, но эффектную одежду.
		</p>
		<p>
			С кулинарией при болевой сенсорике им непросто и собственные новинки в рецептах появляются редко, либо становятся успешнее лишь со временем. 
			У представителей женского пола этому может способствовать гендерная роль (среди Максимов и Гамлетов гендерные стереотипы вполне могут быть вполне сильны). 
			Подбор одежды и деталей внешнего вида также не является их сильной стороной. Сложно гармонично сочетать цвета. 
			Однако по сильной этике эмоций Гамлет всегда оценит впечатление, которое его образ произведет на окружающих. 
			Умеют и чувствуют создание образов, хотя детальное доведение его не всегда возможно. 
			Обладают художественным вкусом.
		</p>
		<p>
			Может не хватать уверенности в себе, собранности. 
			Сложно жестко командовать другими — проще идейно направлять, а если что-то вызывает недовольство — влиять эмоционально. 
			При этом, если они преданы идее или организационной структуре — то вполне ответственны и могут вкладывать в развитие много своих сил и времени. 
			Могут быть хитры и изворотливы, создавать интриги, чтобы получать желаемые им эмоции.
		</p>
	</div>
</div>

</body>
</html>


