<html>
<head>
	<title>
		ЭИИ - Достоевский
	</title>
</head>
<body>

	
<div class="container-fluid" align="left">
	<div class="jumbotron" align="center">
		<h3 class="text-success">Психотип:<strong>Этико интуитивный интроверт (ЭИИ) - Достоевский</strong> </h3> 
	</div>
	<div class="jumbotron">
		<h3 class="text-primary"><strong>Краткое описание социотипа:</strong> </h3>
		<p>
			Это интровертное создание, которое чутко чувствует людей вокруг и их души, их психологическое состояние, умеют посочувствовать и окружить легкой гармоничной добротой, однако лишь в том случае, когда чувствуют себя в безопасности. 
			В противном случае болевая ЧС (волевая сенсорика) будет выталкивать Достоевского из некомфортной ему ситуации и по сильной интуиции он найдет возможность быть «не там». 
			Они ценят красоту, аккуратность, эстетику, хотя способностей сенсорики у себя хватает лишь на то, чтобы оценить, либо долго набираться опыта. 
			Они исполнительны, если получают четкий алгоритм действия. Не очень инициативны. 
			Что бы другой человек по отношению к нему ни сделал, Достоевский сумеет (благодаря сильной интуиции) оправдать и понять, чтобы не оставлять негатива в отношениях.
		</p>
		<p>
			Для Достоевского главное – это отношения, гармония, внутреннее содержание, свое и близких. 
			Достоевский хорошо разбирается в отношениях, что кому нравится или не нравится, как к нему относятся. 
			Достоевскому сложно находиться там, где нужной ему гармонии нету, где отношение к нему не то, какое хотелось бы, и люди вызывают не те ощущения, которые хотелось бы. 
			Достоевский будет искать любые возможности, чтобы избежать столкновения с такими людьми и появления в таких местах. Однако проявлять плохого отношения не будет. 
			Достоевский умеет в любой ситуации создать атмосферу для поддержания и распространения гармонии и хороших отношений, тех людей, отношения с которыми хорошие, Достоевский будет морально поддерживать, успокаивать, оправдывать, если что-то пойдет не так.
		</p>
		<p>
			Достоевскому свойственно подчиняться правилам, сложно спорить с авторитетными по его мнению людьми, да и не очень-то хочется спорить, когда проще согласиться, сохранив при этом гармонию в отношениях. 
			Если Достоевский объясняет что-либо кому-то, то часто ссылается на правила и источники, пояснять которые не видит смысла. 
			Сложно и не хочется давить на людей, заставлять кого-то, однако Достоевский может предполагать, что это является необходимым для создания определенного общественного мнения о нем. 
			Попытка подчинить кого-то себе идет скорее через создания некой атмосферы верности какой-то идее. 
			Сложно принимать решения и брать ответственность за них, Достоевскому проще найти возможность избежать такой необходимости.
		</p>
		<p>
			Любит комфорт, использование современных технологий для комфорта, ценит красоту, аккуратность, старается являться таковым. 
			Уважает трудолюбие, спокойную, ненапряженную атмосферу труда. Любит, когда кто-то решает проблемы для него. 
			Достоевский ценит и хочет получить заботу о себе, порой считает само собой разумеющимся то, что о нем в конкретной ситуации обязательно позаботятся. 
			Самому сложно долго время заботиться о ком-то и проявлять бурную деятельность. 
			Скорее будет помогать и поддерживать подобных людей.
		</p>
		<p>
			Достоевский автоматически отслеживает настроение важных для него людей, может влиять на это настроение, выводить человека из плохого настроения. 
			Изменения происходящего, в том числе в настроениях отслеживается автоматически «без слов на деле».
		</p>
	</div>
</div>

</body>
</html>


