<html>
<head>
	<title>
		ЭСЭ - Гюго
	</title>
</head>
<body>

	
<div class="container-fluid" align="left">
	<div class="jumbotron" align="center">
		<h3 class="text-success">Психотип:<strong>Этико сенсорный экстраверт (ЭСЭ) - Гюго</strong> </h3> 
	</div>
	<div class="jumbotron">
		<h3 class="text-primary"><strong>Краткое описание социотипа:</strong> </h3>
		<p>
			Энтузиаста можно представить себе, как довольно энергичного человека, стремящегося растормошить всех людей вокруг него. 
			Он может довольно легко создать праздничную атмосферу, впрочем, без попыток предугадать, чем кончится дело, поэтому не стоит удивляться, если на шумный квартирник, устроенный Гюго, где-нибудь в 3 часа ночи, явится полиция и „вежливо“ попросит приглушить музыку. 
			Но ещё больше не стоит удивляться, если сама эта полиция спустя некоторое время попадёт под обаяние Энтузиаста и увлечётся общей праздничной атмосферой и вскоре будет уже вместе с остальным народом зажигать на вечеринке
		</p>
		<p>
			Чаще всего представители ТИМа Гюго - эмоциональные, живые и энергичные люди, которые любят радоваться жизни. 
			Стереотипное представление Гюго – бурно-эмоциональные, суетливые, активные и деятельные, которым сложно разбираться в логике, в точных науках, быть последовательными и четкими. 
			Они заботятся о близких и не только, окружая их теплом и уютом, много и разнообразно готовят, любят заботиться о своей внешности и делают это весьма успешно. 
			Хорошо могут реализовать себя в творчестве, общительны, часто болтливы.
		</p>
		<p>
			Скорее всего большинство представителей этого ТИМа будут весьма близки в данному представлению, однако есть и те, кто довольно спокоен и лиричен. 
			Среди них могут быть и волевые, продвигающиеся активно в карьере и бизнесе, и активно интересующиеся науками. 
			Но даже у них оттенок «стереотипа», изложенного выше, можно выявить в поведении, в мимике, в том, как они воспринимают мир и других людей. 
			Образование, ум, интеллект — это то, что они ценят, могут уважать его в других или стремиться развивать его у себя. Хотя в творческих областях их развитие может течь более динамично. 
			Как бы то ни было, представитель ТИМа Гюго себя не проявлял, разобраться в людях, в настроениях, создать атмосферу – потенциал есть всегда. Гюго может действительно хорошо проявить гостеприимность, если захочет. 
			«Я совсем не готовлю, только курочку, пироги, рыбу и иногда салаты» — цитата одной представительницы. Даже если Гюго не готовит, то при желании научится довольно быстро и качественно подбирать продукты и импровизировать за рамками поваренных книг.
		</p>
		<p>
			Им может быть сложно выбирать наиболее удобное время для дел, планировать будущее, хотя они могут стараться быть предусмотрительными. 
			Сложно увидеть ситуацию в целом, понять, осмыслить, абстрагироваться, почувствовать скрытое, неявное и недосказанное. 
			Но у них есть энергия создать нужное им настроение, приятную обстановку вокруг, они умеют создавать уют и теплую атмосферу. 
			Они любят, когда ими восхищаются и, при желании, умеют подать себя так, чтобы вызывать восхищенные взгляды и уважение.
		</p>
		<p>
			Могут стараться проявлять себя деятельными и деловыми. 
			Умеют при желании заботиться о своем здоровье и о физических ощущениях. 
			Могут видеть положительные стороны происходящего и радоваться этому, заражать энтузиазмом себя и других, красочно передавать информацию другим, даже самую скучную. 
			Умеют создавать гармоничное пространство, атмосферу заботу.
		</p>
	</div>
</div>

</body>
</html>


