<html>
<head>
	<title>
		ЭСИ - Драйзер
	</title>
</head>
<body>

	
<div class="container-fluid" align="left">
	<div class="jumbotron" align="center">
		<h3 class="text-success">Психотип:<strong>Этико сенсорный интроверт (ЭСИ) - Драйзер</strong> </h3> 
	</div>
	<div class="jumbotron">
		<h3 class="text-primary"><strong>Краткое описание социотипа:</strong> </h3>
		<p>
			Это зачастую консервативный в своих взглядах, уверенный в себе человек, предпочитающий материальный мир миру фантазий. 
			Про Драйзера, пожалуй, можно сказать, что он довольно требователен к себе и к другим людям. 
			Он обычно настойчив и постоянен в своих целях, что вполне сочетается с тем, что альтернативы часто туманны и расплывчаты, безумно интересны, но ужасно непонятны. 
			А своя задача (цель) — вот она! Прямо перед глазами. И её легко добиться. Часто скромны, но за своё и за своих постоять не постесняются. 
			А вот добиваться чего-то большего, что зияет где-то вдалеке, гораздо сложнее. Поэтому, если послать их в далёкие места, то лучше сразу выдать карту, по которой они смогут ориентироваться, ведь спрашивать дорогу у проходящих мимо людей они вряд ли будут, только если совсем уж приспичит. 
			Про Драйзера ещё, пожалуй, можно сказать, что если он захочет, то воспитает кого угодно, так чтобы ему самому всё в человеке нравилось в итоге!
		</p>
		<p>
			Для Драйзера важным является отношение. 
			Отношение к нему, отношения между людьми, его отношение к другим людям, к внешнему миру, к объектам. Формируется некоторая концепция отношений, своя для каждого Драйзера. 
			Это некоторые принципы, некое восприятие отношений, представления об отношениях, какими они должны быть, какое должно быть отношение у Драйзера, чтобы общаться с конкретными людьми или делать конкретные вещи. 
			В результате „близким, своим“ для Драйзера стать может только тот, кто «вписывается» в эту концепцию. Кто проявляет свое отношение к нему и/или другим людям/действиям так, как Драйзеру нужно, как ему нравится. 
			Понимание «выгоды» у Драйзера сводится к пониманию отношений: человек выгоден, если отношения с ним приносят нужный результат, и обратно: отношения он будет поддерживать, пока человек выгоден, для Драйзера, что пока есть взаимная потребность в отношениях. 
			Если отношение к человеку негативное, то выгода в деловых вопросах для Драйзера может уйти на второй план. 
			В течение времени принципиальность Драйзера в отношениях может сглаживаться в одних случаях, а может и ужесточаться в других, но тенденция сохраняется.
		</p>
		<p>
			Драйзер в большинстве случаев проявляет уверенность в своих словах и действиях. 
			Ему сложно видеть различные возможности и варианты развития событий, по этой (и не только) причине, выбрав что-то одно, он попытается довести дело до конца, не меняя своей позиции, не уверен, что изменение принесет нужный результат. 
			То, что Драйзер считает ему принадлежащим, он будет охранять и будет остро и агрессивно реагировать, если кто-то посягнет на его имущество, или обидит близкого ему человека. 
			Драйзеру нравится контролировать процессы, ситуации, возможно людей, если то, что (или кто) контролирует – является предсказуемым. 
			Если есть уверенность в результате и в том, что сопротивление не будет противоречить этической концепции Драйзера, тогда он будет «творить» в области контроля.
		</p>
		<p>
			Если возникают неожиданности, если сильна мера неопределенности, то Драйзеру легче не брать такое дело под свой контроль. Не любят изменений.
			В понимании Драйзера, для социализации требуется проявлять логическое мышление, уметь понятно донести свои мысли, быть последовательным. 
			Все это не является «экспертными» сторонами Драйзера, однако не останавливает его усилий в этом направлении. 
			Драйзеру трудно спокойно смириться с тем, что некоторые возможности предусмотреть не удается, что некие процессы в его жизни идут не в той последовательности, в которой положено. 
			Драйзеры обычно не любят людей, склонных преувеличивать факты, хвастаться, восхвалять свои таланты. Себя похвалить и оценить Драйзеру сложно, потому что не понятно, а правильно ли хвалит, а может и хвалить-то не за что, или он похвалит, а люди воспримут иначе. 
			Драйзеры не всегда высказывают свое мнение, свои мысли, идеи, потому как нет уверенности в том, что сумеет правильно эти мысли донести, что сумеет быть понятным.
		</p>
		<p>
			Драйзеру сложно рассчитать время, которое уйдет на то или иное действие, сложно предугадать, какие дополнительные действия придется предпринять для завершения основного. 
			Если что-то идет «не так», как в его понимании должно было бы, Драйзер видит в дальнейшем негативный исход события. 
			С «будущим» оперировать сложно, зато можно оперировать со своим отношением (и отношением других) к делу, желание выполнять это дело может пропасть.
			Сенсорика проявляется в тщательности и способности к кропотливой работе, требующей терпение. 
			Такую работу Драйзер может выполнять, если у него к ней определенное отношение. 
			Драйзер любит и уважает деловой подход, умение экономить и зарабатывать, серьезный подход к финансовым вопросам. Ценит выгоду.
			Драйзер – интроверт, в зависимости от степени социализации, может вести, как сильно уединенный образ жизни, не покидать дом в течение недели, к примеру, так и вести активный образ жизни, постоянно в общении. 
			Однако интенсивное общение (кроме 2-3 самых близких для Драйзера людей) вызывает потребность отдыха «в себе», наедине с самим с собой, в своем доме, со своими мыслями и чувствами.
		</p>
		<p>
			Драйзер хорошо разбирается в вопросах здоровья, самочувствия себя и близких ему людей. 
			Постоянно контролирует состояние здоровья своих близких, не вербализируя это. Умеет хорошо готовить, однако делает это не часто, а тогда, когда есть необходимость. 
			Драйзер не любит отрицательные эмоции, направленные на него, раздражение, негодование и т.д.  
			Если это происходит, Драйзер может разозлиться, либо уйти в себя и перестать проявлять отношение к источнику негативных эмоций. 
			Драйзер старается поддерживать «эмоциональный баланс», предпочитает положительные эмоции вокруг себя, однако до определенного предела.
		</p>
	</div>
</div>

</body>
</html>


