<html>
<head>
	<title>
		ИЭЭ - Гексли
	</title>
</head>
<body>

	
<div class="container-fluid" align="left">
	<div class="jumbotron" align="center">
		<h3 class="text-success">Психотип:<strong>Интуитивно этический экстраверт (ИЭЭ) - Гексли</strong> </h3> 
	</div>
	<div class="jumbotron">
		<h3 class="text-primary"><strong>Краткое описание социотипа:</strong> </h3>
		<p>
			Чаще всего Гексли — живые и общительные, энергичные и вечно ищущие что-то необычное и интересное. 
			Они есть там, где обитают новые люди, знакомства с которыми сулят новые возможности. 
			Они умеют быстро входить в доверие и налаживать отношения. 
			Деловой переговор начнут с разряжающего атмосферу обсуждения погоды, сплетен, легких, малозначимых тем, однако, в результате, собеседник будет очарован и готов на более серьезное взаимодействие. 
			Гексли могут быть легкомысленны и ветренны, непоследовательны и алогичны, хотя совету в деловой сфере и подсказке „что и как надо делать, чтобы получить нужный результат“ будут рады.
			Восприятие мира у Гексли проходит через призму идей, возможностей. Все вокруг осматривается новым взглядом и новыми ощущениями.
		</p>
		<p>
			Базовый блок Гексли работает на поиск и открытие новых возможностей. Могут налаживать разные контакты, строить отношения с разными людьми. 
			Отношение к другим может меняться в зависимости от ситуации. Человеку интересны новые возможности, любят, когда ситуация вокруг меняется. 
			Гекли знакомятся и общаются с самыми разными людьми, чтобы разнообразить свою жизнь, узнать новое для себя и быть необычным и оригинальным. 
			Длительное пребывание на одном и том же месте или в одном и том же коллективе требует «скачка» в иную реальность, который зарядит Гексли энергией для дальнейшей жизни. 
			Отношения с разными людьми стимулируют многих представителей этого ТИМа. 
			Многие конфликтные ситуации он может решать через свое обаяние, изворотливость и умение подстраиваться под собеседника. 
			Гексли может быть часто уверен в себе, в своих возможностях (иногда хвастлив). 
			Если верит в случайности, в свою удачу – то часто в жизни так и складывается.
		</p>
		<p>
			Гексли часто бывают умны, быстро вникают в новую информацию. 
			Быстро адаптируются к новой среде. 
			При этом, конкретную информацию могут часто забывать и путаются в фактах. 
			Умеют понимать людей и проявлять это понимание настолько, насколько им нужно.
			Может считать, что для того, чтобы быть принятым в обществе, нужно выглядеть солидно и соответственно статусу, быть уверенным в себе и своих действиях. 
			Стараются в делах проявлять последовательность и логичность, однако это непросто, особенно поначалу. 
			Гексли может поддаваться на провокации, где требуется проявить себя, как успешного или уверенного человека. 
			Гексли часто непостоянен, а упорядоченный график иногда вызывает у него сложности.
		</p>
		<p>
			Гексли с удовольствием принимают заботу и ценят практичность. 
			Выгода им важна, поэтому восхищаются теми, кто успешно ею руководствуется. 
			При отсутствии опыта — не всегда просто разобраться, как организовать что-либо и получить оптимальный результат, однако сильная интуиция позволяет в нужный момент сориентироваться.
		</p>
		<p>
			Умеют отслеживать настроение в группе или у собеседника. 
			И неявно, неактивно сохранять это настроение в режиме, присущем данного представителю ТИМа. 
			Умеют проявлять жизнерадостность и заражать других своим настроением.
		</p>
		<p>
			Не любят, когда к ним опаздывают, хотя сами могут быть необязательны и непунктуальны.
		</p>
	</div>
</div>

</body>
</html>


