<html>
<head>
	<title>
		ИЭИ - Есенин
	</title>
</head>
<body>

	
<div class="container-fluid" align="left">
	<div class="jumbotron" align="center">
		<h3 class="text-success">Психотип:<strong>Интуитивно этический интроверт (ИЭИ) - Есенин</strong> </h3> 
	</div>
	<div class="jumbotron">
		<h3 class="text-primary"><strong>Краткое описание социотипа:</strong> </h3>
		<p>
			Часто Есенины — люди довольно общительные, хотя и предпочитающие нахождение в тени публичности. 
			Они довольно умны и совершенно легко могут поддержать разговор, заодно создав достаточно уютную для собеседника и себя атмосферу в разговоре. 
			Музыка и стихи — это то, что любит создавать Лирик и, надо признаться, что получается у него оное достаточно хорошо. 
			В некоторых жизненных ситуациях может производить впечатление безалаберного человека, однако, в нужный момент способен собраться и сделать то, что нужно — в этом ему помогает сильная интуиция времени, говорящая, когда вообще-то стоит поторапливаться, а когда можно расслабиться. 
			Он небольшой любитель проявлять силу, но при необходимости может.
		</p>
		<p>
			Базовый блок Есенина: этика эмоций для интуиции времени. 
			Есенин умеет чутко чувствовать, отдельные настроения, чувства, тонкие, мельчайшие изменения. Он чувствует, как разные события и ситуации будут развиваться дальше. 
			Такой человек будет успешно стараться сохранить память о том, что ему дорого, может долго хранить старые вещи, например, те, которые напоминают о прошлом.
			Творческой этикой может иногда проявлять капризность, с помощью эмоций умеет тонко манипулировать людьми и влиять на их настроения.
		</p>
		<p>
			Каждое важное Есенину изменение умеет подсвечиваться ярким оттенком эмоций. Эмоциональным фоном создается наиболее удачная обстановка и задается направление развития событий. 
			Будучи интровертом, далеко не каждый Есенин и не каждый раз демонстрирует эти эмоции, они могут быть внутри, как результат наблюдения за событиями.
			Есенин может полагать, что для того, чтобы вписаться в общество и быть уважаемым человеком, нужно выглядеть подобающим образом и делать что-то полезное для этого общества, работать, например.
		</p>
		<p>
			Такие понятия, как полезность и выгода – не самое сильное место Есенина. 
			Если нету опыта – то сложно оценить пользу от какого-то дела, сложно увидеть, как выполнять его эффективнее и стоит ли за него браться. 
			Сложно анализировать дела логически, что часто отбивает желание ими заниматься и погружает Есенина обратно в свой эмоционально-вдумчивый мир. 
			Однако вылазки в мир экстравертный заставляют вновь об этом задуматься.
		</p>
		<p>
			Внутренний мир Есенина важнее и понятнее ему, чем внешний мир. 
			Потому в результате ссор, конфликтов, в общем, любых событий внешнего мира, в том числе положительных, Есенину может быть самым комфортным — погрузиться в себя и переживать это событие в одиночестве.
		</p>
		<p>
			Представители данного ТИМа часто разбираются в искусстве (кто-то активно увлекается, кто-то просто имеет хороший вкус, свое особое тонкое восприятие произведений: литературных, музыкальных, живописи, других). 
			Умеют мило, аккуратно одеться, часто выглядят моложе своих лет. Им приятно выглядеть симпатично и адекватно обстановке.
		</p>
	</div>
</div>

</body>
</html>


