<html>
<head>
	<title>
		ИЛЭ - Дон-Кихот
	</title>
</head>
<body>

	
<div class="container-fluid" align="left">
	<div class="jumbotron" align="center">
		<h3 class="text-success">Психотип:<strong>Интуитивно логический экстраверт (ИЛЭ) - Дон-Кихот</strong> </h3> 
	</div>
	<div class="jumbotron">
		<h3 class="text-primary"><strong>Краткое описание социотипа:</strong> </h3>
		<p>
			Если описать его совсем кратко, то это едва ли не вечный двигатель в плане генерации новых идей. Насколько они применимы к жизни – другой вопрос. 
			Важно именно создавать новые идеи, искать и находить, творить уникальное и интересное.
			Для Дон Кихота мир вокруг воспринимается, как возможности. Как логик и интуит, он умеет разобраться в различных теориях, в том числе в тех, с которыми сталкивается впервые. 
			Быстро соображает и хорошо ориентируется в чем угодно новом, необычном, нестандартном. 
			Как правило, неожиданные ситуации, где нужно действовать вне плана, не пугают, а только активируют Дона. 
			Попав в любую ситуацию, Дон будет обращать внимание, по большей части, на новое, необычное в этой ситуации. 
			Искать то, что отличит ее от других. И искать успешно.
		</p>
		<p>
			Такой человек, при сильно выраженной интуиции, в большей степени живет в мире идей, в мире нереальном. 
			И даже при хорошо проработанной сенсорике, ориентироваться в мире реальном и конкретном ему будет сложнее. 
			Хорошо понимает потенциал человека, его таланты, каких высот человек может достигнуть. И этот момент выделяет ярче, чем конкретные реальные достижения человека. 
			Это может вылиться в такую черту, как хвастливость. Говоря «я могу это сделать, у меня получится, я лучше всех» он озвучивает те возможности, те идеи, которые видит. 
			И здесь не столь важно, когда они будут реализованы и будут ли реализованы вообще. Они для него истинны уже потому, что они есть в его представлениях.
		</p>
		<p>
			Дон Кихот может видеть разнообразные возможности: что может случиться вот здесь, что может произойти с ним или с другим человеком, разные идеи, мысли. 
			Ему не очень важно, насколько реально это может произойти, что требуется сделать для этого, не важно, насколько практически реализуема идея. 
			Важно то, что она есть, что их будет еще больше.
		</p>
		<p>
			Для того, чтобы убедить окружающих в своей правоте, «подключить» их к той или иной идее – используется структурная логика. 
			Такой человек может объяснить что угодно при желании. 
			Умеет разбираться в разных теориях и может подогнать разные теории, объяснения под свои идеи. 
			Дон успешно ищет обоснование, чтобы понять и показать другим суть предмета. Такой человек может удачно и легко генерировать идеи. 
			А для их продвижения используется белая логика – описание этих идей. Внимателен к деталям и постоянно открыт для новых идей, для новой информации. 
			Умеет выйти за рамки ограничений (как в науке, так в социуме), норм, проявить свою уникальность.
		</p>
		<p>
			Однако ему бывает сложно разобраться в отношениях, ему не всегда понятно, как к нему относятся, доверять или не стоит. 
			Насколько его поступки соответствуют нормам этики — тоже непростой вопрос. 
			Если в новой для него ситуации в его сторону идут упреки «не соблюдаешь мораль», «неэтичен», «не считаешься с чувствами других» или что-то подобное – может огрызнуться, отгородиться, пытаться избежать этих упреков. 
			И даже если с опытом Дон научится вести себя адекватнее в этом, то такая ситуация для него будет непроста.
		</p>
		<p>
			Ценностная активационная этика эмоций требует много ярких и разнообразных проявлений чувств. 
			Им интересно наблюдать, как проявляются яркие и сильные эмоции, интересно испытывать их. 
			Самому Дон Кихоту не всегда понятно, что последует за проявлением эмоций, потому может ненарочно кого-то задеть или обидеть. Юмор проявляется на игре слов, через логику. 
			Ответить на негативные эмоции или проявить негативные эмоции если сложно, может это делать резковато, с наездом.
		</p>
		<p>
			Доны часто — увлекающиеся люди, могут погрузиться в новый и интересный им процесс, могут достигнуть желанного статуса в своей области, но когда интерес к предмету себя исчерпает — им хочется заняться чем-то другим, не возвращаясь к уже освоенному. 
			По сути, доводить что-либо до конца для них очень важно, увлекательнее процесс эксперимента и постижения нового. 
			Так из Донов получаются разносторонние люди, увлекающиеся.
		</p>
	</div>
</div>

</body>
</html>


