<html>
<head>
	<title>
		ИЛИ - Бальзак
	</title>
</head>
<body>

	
<div class="container-fluid" align="left">
	<div class="jumbotron" align="center">
		<h3 class="text-success">Психотип:<strong>Интуитивно логический интроверт (ИЛИ) - Бальзак</strong> </h3> 
	</div>
	<div class="jumbotron">
		<h3 class="text-primary"><strong>Краткое описание социотипа:</strong> </h3>
		<p>
			Довольно часто это умно-логическое и хитро-интуитивное создание, благодаря чему, у Бальзака всегда при себе чёткое и ироничное видение мира. 
			Это даёт ему все права быть циничным и скептичным, холодным и рассудительным. 
			Он заметит все недочёты, скрытые возможности, непредусмотренные риски и обязательно напомнит Вам о них, если, конечно, в курсе Ваших планов и если сам того захочет. 
			Любит спускать с небес на землю с помощью саркастичных замечаний. 
			Он часто знает ответ на важный вопрос при принятии любых решений: «Когда?». 
			Зачастую действует спонтанно и без явных на то причин — чувствует, что нужно «вот так». 
			Философско-созерцательный взгляд на мир и понимание цельной картины происходящего помогает быть спокойным, никуда не торопиться, при этом вовремя начинать все дела или подталкивать к этому других.
		</p>
		<p>
			Бальзак не нуждается в активной обработке информации, длительном изучении или планировании. 
			Ему заранее понятно, куда именно оптимальным образом приложить ментальные усилия. 
			Умеет острым словом подчеркнуть оттенок ситуации. Однако сложно чувствовать эмоции других, настроения, и уж тем более сложно на них влиять. 
			Очень тонко чувствует изменения своего внутреннего мира. Заранее чувствует, какие события произойдут и какие условия для них нужны и какие действия приведут в нужным условиям. 
			Нужные действия сделаются в нужный момент, не факт что им. 
			И Бальзак такие вещи понимает.
		</p>
		<p>
			Бальзаку сложнее постоять за себя, но зачастую и неясно, зачем это делать, когда все и так предопределено и того же результата можно достичь и просто наблюдая за авторством других. 
			Как реализовывать активную позицию – в этом вопросе разобраться гораздо сложнее, особенно в новом коллективе, на новом проекте, в общем там, где нету опыта и поддержки других.
		</p>
		<p>
			Бальзаку присуще умение оптимальным образом воспринимать события. 
			Есть желание покритиковать чьи-то неэффективные действия и показать их бесперспективность, реально хорошо умеют оценивать перспективы и потому слывут «критиками». 
			Идеи и воображение они любят, но из них отметают неэффективные. 
			Не совсем ясно однако, как воспринимать события с эмоциональной точки зрения, где какие эмоции проявлять и нужно ли это делать. 
			А если идет эмоциональный поток, то сложно управлять им, оценить, к чему он приведет, осознать его. 
			У эмоций одномерной черной этики две основные градации – отсутствие их, то есть, рационализм, практичность, логичность и сухость. 
			И вторая – яркость, импульсивность и стремление максимизировать количество эмоций (а при проработке – и качество, и не всегда ясно, что именно уместно в проявлении эмоций, критерии уместности и как добиться нужного оттенка). 
			Об эмоциональном состоянии других людей судят по своему опыту.
		</p>
		<p>
			Запоминает четко, что и когда происходило. Молча делает выводы и в нужный момент может дать дельный совет. 
			Умеет четко и объективно анализировать ситуацию. Умеет безразлично, беспристрастно оценивать окружающие его события.
		</p>
	</div>
</div>

</body>
</html>


