<html>
<head>
	<title>
		ЛИЭ - Джек Лондон
	</title>
</head>
<body>

	
<div class="container-fluid" align="left">
	<div class="jumbotron" align="center">
		<h3 class="text-success">Психотип:<strong>Логико интуитивный экстраверт (ЛИЭ) - Джек Лондон</strong> </h3> 
	</div>
	<div class="jumbotron">
		<h3 class="text-primary"><strong>Краткое описание социотипа:</strong> </h3>
		<p>
			Начиная свой рассказ об этом ТИМе, стоит сразу упомянуть, что Джек считается интегральным типом Америки. 
			Этот ТИМ можно назвать одним из самых трудоголичных. 
			Если дело ему действительно нравится, а он стремится выбирать то занятие, в котором будет чувствовать себя исключительным, то можно быть уверенным, что он будет пытаться каждую секунду уделить именно своей любимой работе. 
			При этом, он всегда стремится воспринять и переварить как можно больше информации, благодаря своей вечной открытости для всего нового. 
			Джек Лондон — чаще всего активный и энергичный человек.
		</p>
		<p>
			Джек воспринимает то, что происходит в мире, как протекающие процессы. 
			Все, чем занимается Джек, начиная от работы и заканчивая общением – воспринимается, как дела. Дела, которые нужно выполняются в определенный Джеком период времени. 
			Дела Джек рассматривает с точки зрения их приоритетов. Более приоритетные — он старается выполнить поскорее, для менее приоритетных дел времени выделяется меньше. 
			Джеки обладают способностью грамотного планирования; разбивают задачи на части и выбирать для их выполнения идеальное время. 
			Для Джека важным является понятие „выгода“ и за «дело» Джек берется только в том случае, если оно ему выгодно. 
			Выгодой однако может служить как материальный интерес, так и нематериальный, например, хорошее отношение или интерес. 
			Джек хорошо видит перспективы дел, замечает тенденции и может предвидеть развитие событий в будущем. 
			Если тенденция меняется и дело, которым занимается Джек, перестает казаться ему перспективным и сулящим выгоду, то Джек может переключиться на другие, более перспективные дела. 
			Джек старается успеть сделать побольше всего за минимальное количество времени, потому может быть нетерпелив и невнимателен к деталям.
		</p>
		<p>
			Джек не всегда понимает настроения и эмоции находящихся с ним рядом людей. Своей прямотой, шуткой, резкостью может случайно обидеть другого человека. 
			Если Джек в такие ситуации часто попадал, то может, наоборот, перестраховываться и лишнее количество раз извиниться. 
			Джеку может быть сложно выразить эмоции, иногда они выражаются в шутливой форме, иногда не выражаются вообще. 
			Хорошее отношение к другим людям Джеку проще выразить делами, помощью, решением чужих проблем. 
			Джеку свойственно следить за собой, за внешним видом, правильным питанием лишь по мере необходимости, по минимуму, чтобы окружающие не критиковали, критика в этой области воспринимается плохо. 
			Для сглаживания этого восприятия Джек может сам нарочито продемонстрировать свои недостатки в этой области в шутливой форме.
		</p>
		<p>
			У Джека нету понятия «нравится-не нравится», нету явно выраженного отношения к людям, к событиям. 
			Точнее, отношение-то есть, только Джек часто этого не понимает. 
			Джек воспринимает факты, как данность, от которой нужно отталкиваться дальше. Джеку может быть долгое время непонятно отношение к нему других людей. 
			Джек часто выглядит неуверенным в себе, иногда чересчур суетящимся. 
			Знает, где нужно проявить волевое давление, заставить кого-то, когда нужно защищаться, а когда необязательно. Однако если опыта данных действий в аналогичной ситуации нету, то как нужно проявлять и отражать волевое давление — может не понять. 
			Или может переборщить, сам не понимая что делает и возможные последствия. 
			Если при осуществлении некой цели Джеку не хватает сил, упорства справиться с возникающими трудностями, он ищет обходные пути, что получается лучше.
		</p>
	</div>
</div>

</body>
</html>


