<html>
<head>
	<title>
		ЛИИ - Робеспьер
	</title>
</head>
<body>

	
<div class="container-fluid" align="left">
	<div class="jumbotron" align="center">
		<h3 class="text-success">Психотип:<strong>Логико интуитивный интроверт (ЛИИ) - Робеспьер</strong> </h3> 
	</div>
	<div class="jumbotron">
		<h3 class="text-primary"><strong>Краткое описание социотипа:</strong> </h3>
		<p>
			Про них, наверное, можно сказать, что это люди анализа.
			Видимо, анализировать весь мир вокруг них и потом точно выдавать, как истинно правильно, они считают своим неоспоримым долгом.
			Из них могут получиться хорошие таксировщики и программисты, однако — не только.
		</p>
		<p>
			Робеспьер воспринимает мир через мышление.
			Внешние объекты он понимает через систему внутренних взаимосвязей.
			У каждого Робеспьера сформирована (и в течение жизни продолжает формироваться) своя собственная система понимания, мнение о правоте, справедливости, это понимание опирается на опыт, нормы и может меняться в зависимости от конкретной ситуации.
		</p>
		<p>
			Если в мире происходит что-то, что не соответствует мнению Робеспьера и вопрос для него является важным, то он будет искать, использовать разные возможности для устранения сей «неправильности и несправедливости».
			В случае неудач Робеспьер может отложить свои решения на какое-то время, но глобально он упорен и настойчив. Переубедить Робеспьера считается сложным.
			Для Робеспьера мир – интерпретируемая им система, в которой в нужный момент появится нужная возможность. Робеспьер склонен видеть потенциал в людях и в событиях, склонен видеть разные возможности, попадая в некую ситуацию, умеет выкручиваться и избегать сложностей.
		</p>
		<p>
			Отношения между людьми Робеспьер анализирует с помощью логики, мышления.
			Свое отношение к людям (событиям и др.) также формируется с помощью логики.
			Робеспьер склонен пытаться проявить свое умение оказать давление, упорство, силу.
			Проявление силы – не самая сильная его черта, но это компенсируется умением видеть и использовать возможности для отстаивания своей правоты и ухода от агрессии извне.
			У Робеспьера может сложится мнение, что для того, чтобы быть принятым обществом, для социализации, требуется уметь проявлять уверенность, выглядеть настойчивым и, в тоже время, придерживаться этических норм общества. Этические нормы он видит, старается опираться на них в своем поведении.
			Уверенность и напор Робеспьеру проявить нелегко (особенно в новой для него ситуации), проявляется чаще эта уверенность через логические аргументы и объяснения ситуации через логику.
		</p>
		<p>
			Робеспьеры любят общение, веселое и непринужденное.
			Робеспьеры обычно не придают особого значения своему внешнему виду, а также внешней обстановке и питанию.
			Однако проявление заботы о себе они любят и ценят, восхищаются вкусной и разнообразной кухней и людьми, которые умеют и любят создавать уют.
			Людей проанализировать сложно, анализируются отношения.
		</p>
		<p>
			Робеспьеры не любят тратить деньги там, где можно сэкономить.
			У Робеспьера свое индивидуальное понимание того, как и куда нужно тратить деньги и как и сколько их нужно зарабатывать.
			Финансовый вопрос обычно принципиально важным для Робеспьера не является, интерес к занятию важнее, чем зарплата.
			Робеспьер чувствует время, может рассчитать его, однако нечетко, не по минутам и свои подсчеты не вербализирует.
			Этот процесс течет бессознательно. Они часто бывают предусмотрительными и рассудительными.
		</p>
	</div>
</div>

</body>
</html>


