<html>
<head>
	<title>
		ЛСЭ - Штирлиц
	</title>
</head>
<body>

	
<div class="container-fluid" align="left">
	<div class="jumbotron" align="center">
		<h3 class="text-success">Психотип:<strong>Логико сенсорный экстраверт (ЛСЭ) - Штирлиц</strong> </h3> 
	</div>
	<div class="jumbotron">
		<h3 class="text-primary"><strong>Краткое описание социотипа:</strong> </h3>
		<p>
			Это довольно серьезно настроенный к жизни индивид, умеющий организовать свою жизнь, начиная с профессиональной области и заканчивая домом. 
			В своей деятельности это усердные и внимательные люди, чутко следящие за качеством работы, умеющие управлять как собой, так и другими. 
			Штирлицу сложно представить себе, как это — неаккуратно выглядеть… не держать вещи на своих местах… жить в беспорядке… не думать о последствиях… наливая чай пролить полчайника… врезаться в столб, гуляя по улице… 
			Наоборот, хорошо чувствуют пространство „здесь и сейчас“ и способны организовать его наилучшим образом для успешной деятельности и высокой производительности.
		</p>
		<p>
			Программа данного ТИМа — «комфорт и внимательность для производительности». 
			Что означет, при должной мотивации, Штирлиц может создать подходящую обстановку для работы, оборудовать свое рабочее место. 
			Такие люди хорошо ориентируются в ситуации «здесь и сейчас». Внимательны, умеют разбираться в деталях той деятельности, которая их занимает. 
			Будь то работа с финансами, с документами, с анализом или работа с техникой, технологиями – такое хорошо им дается и у них есть способности все подробно и тщательно выполнять. 
			Посколько их внимания хватает разобраться в подробностях деятельности, осознать технологический процесс, а экстраверсии хватает на переработку большого количества новой информации и быстрой реакции – они могут качественно управлять деятельностью других людей.
		</p>
		<p>
			Как базовый деловой логик, Штирлиц при определенном опыте может и сам хорошо организовать производственный процесс. 
			Как сенсорик и обладатель слабой интуиции, он слабее видит возможности, перспективность идей. 
			Это компенсируется аккуратностью и профессионализмом. Так же сложно ориентироваться во времени – могут нервничать, если кто-то опаздывает на встречу, задерживает работу. 
			Или наоборот, когда кто-то Штирлица чересчур торопит. «Время», интуиция – болевая функция Штирлица – сложно предусмотреть, какие случайности могут произойти, на что они повлияют. 
			Сложно ориентироваться в ситуации «неопределенности», хотя и к этому с накоплением опыта они адаптируются.
		</p>
		<p>
			Им обычно проще сосредоточиться «здесь и сейчас», работать в стабильном режиме, который они неплохо умеют поддерживать. 
			Разбираются в качестве: одежды, еды, предметов техники, бытовых предметов, в качестве своей работы и работы других людей. 
			Умеют при желании организовать быт, навести и поддерживать чистоту, хорошо и интересно, творчески готовить. 
			Могут хорошо разбираться в том, как что починить, настроить, каким инструментом при этом лучше воспользоваться. 
			Умеют хорошо и аккуратно выглядеть. Умеют постоять за себя, но скорее не будут попадать в обстановку, где это потребуется. 
			Считаются «заботливыми», но естественно только при желании заботиться. 
			Чувствуют изменения своего физического состояния, здоровья, знают как и где что лечить у себя и у других. 
			Имеют потенциал разбираться в законах, правилах, алгоритмах, в программировании и других технических областях, где требуется логика. 
			Хотя заниматься экстравертной «внешней» деятельностью, организовывать рабочий процесс, участвовать в нем, поддерживать его – может оказаться для них более гармоничным.
		</p>
		<p>
			Чаще это последовательные люди, с рациональным мышлением. 
			Про них зачастую говорят, что они конкретны и не любят мечтать о несбыточном, витать в облаках – и для большинства представителей это будет правда, особенно мужского пола. 
			Однако есть и эмоциональные представители, которые вполне могут лениться, мечтать, уходить в абстракции и воспоминания, но все же совсем ненадолго (в отличие от многих интуитов), повседневные проблемы и дела отвлечься не дают. 
			Они умеют налаживать связи, но скорее «делового», формального характера. А входить в доверие к человеку, разобраться в личных отношениях – для Штирлица часто непросто. 
			Также непросто определить таланты и способности человека, которые неочевидны и не подтверждены фактами. 
			Сложно понять, кому доверять, а кому не стоит, что ждать от людей, кто что скрывает.
		</p>
	</div>
</div>

</body>
</html>


