<html>
<head>
	<title>
		ЛСИ - Максим Горький
	</title>
</head>
<body>

	
<div class="container-fluid" align="left">
	<div class="jumbotron" align="center">
		<h3 class="text-success">Психотип:<strong>Логико сенсорный интроверт (ЛСИ) - Максим Горький</strong> </h3> 
	</div>
	<div class="jumbotron">
		<h3 class="text-primary"><strong>Краткое описание социотипа:</strong> </h3>
		<p>
			Это, как правило, довольно консервативный человек, чаще всего, лояльный той системе взглядов, в которой он живет (которая может быть и отличной от общепринятой). 
			Он умеет проявить нужную степень уверенности в себе, когда нужно — заставить, надавить, умеет хранить достигнутое. 
			В начале нового общения — вежлив и склонен соблюдать нормы этикета. Часто аккуратный как внешне, так и в делах, умеющий и предпочитающий планировать и следовать планам. 
			У него есть способности влиять на других так, чтобы они действовали по плану и четко выполняли свою обязанности. 
			Делает он это с помощью своего авторитета и непреклонной уверенности.
		</p>
		<p>
			Максим — тактик, а не стратег. Ставить далекие неконкретные цели в будущее — не просто и неясно, зато Максим может интересоваться прогнозами со стороны других людей. 
			Мотивируется чужими целями, идеями, чужой идеологией, дает себе логичное объяснение. 
			Сложно видеть варианты развития событий, возможности, альтернативы — но это компенсируется уверенностью и упорством в каком-либо единственном варианте. 
			Хорошо разбирается в системах, структурах, технических и управленческих науках. Умеет или легко учится хорошо играть в шахматы. 
			Может легко ориентироваться в малознакомом пространстве, по карте, хорошо запоминать дорогу. Уверен в области физического мира. 
			При этом, в логическом мышлении часто ограничен, и ему непросто вникнуть в суть, понять идеи. 
			Раз разобравшись в предмете, сложно иначе его переосмыслить — белая логика и черная сенсорика в сочетании дают сильное упрямство.
		</p>
		<p>
			Представителям ТИМа Максим может быть комфортно там, где вопросы решаются силовыми методами и авторитетом, например, в военных структурах. 
			В спорте и борьбе это будет человек смелый, осознающий свои физические способности и оные у противника, умеющий рассчитать свои силы и эффективно их направлять.
		</p>
		<p>
			Однако Максимы ведомы чужими эмоциями, им сложно понимать и управлять эмоциональным состоянием, может даже быть неясно, что же это такое. 
			Могут верить чужим эмоциям, воспринимать их, как искренние. Могут провоцировать других людей на проявление эмоций своей строгостью и попытками ограничить или запретить. 
			Поскольку область эмоций интересна и востребована, яркие эмоциональные люди открывает Максимам новый, сильно далекий мир.
		</p>
		<p>
			Представители данного типа редко меняют свои привычки и взгляды, даже если они неактуальны и пользы не приносят. 
			Сила, решительность и строгость позволяет сохранять и поддерживать свою систему правил даже принося в жертву отношения, предпочтения людей. 
			Обладают четким системным, но часто ограниченным мышлением, внушаются эмоуциональными рассказами о будущем и перспективах. 
			Лояльны, когда перед ними-заискивают, подчеркивая их статус и преклоняясь перед их серьезностью. 
			Могут быть внимательны и тщательны, выполнять однообразную кропотливую работу, однако абстрагироваться от реальности сложно — тело чутко к физическим ощущениям. 
			Умеют заставлять себя и других преодолевать боль и слабость, дисциплинированные. Обычно это рациональные, конкретно-мыслящие люди.
		</p>
	</div>
</div>

</body>
</html>


