<html>
<head>
	<title>
		СЭЭ - Наполеон
	</title>
</head>
<body>

	
<div class="container-fluid" align="left">
	<div class="jumbotron" align="center">
		<h3 class="text-success">Психотип:<strong>Сенсорно этический экстраверт (СЭЭ) - Наполеон</strong> </h3> 
	</div>
	<div class="jumbotron">
		<h3 class="text-primary"><strong>Краткое описание социотипа:</strong> </h3>
		<p>
			Это ТИМ, про который можно сказать, что он всегда знает, где у конкретного человека находится та самая архимедовская «точка опоры», на которую можно надавить, чтобы получить желаемое. 
			При этом, Наполеон умудрится ещё и отношения сотворить именно такими, какие ему нужны прямо сейчас. 
			Он вряд ли будет беспокоиться над отдалённым и несколько туманным для него будущим, поэтому предпочитает ориентироваться в реальном мире, а не витать в облаках. 
			Поскольку это довольно общительный человек, то его, вероятно можно часто встретить на разного рода вечеринках, встречах. 
			Сделать самому что-то живо и весело у него получается легко и просто, благодаря чему можно считать его хорошим организатором. 
			Однако, просчитывать при этом некоторые логические стороны дела он может не сильно любить и ему это может быть довольно трудно.
		</p>
		<p>
			Человек с ТИМом Наполеон легко и естественно воспринимает пространство вокруг себя. 
			Территорию, свою, чужую, отмечает, кому что принадлежит, кто за что отвечает, кто кого защищает. 
			Появляясь в коллективе, он может легко разобраться в расстановке сил в нем. Кто является лидером, кто управляет ситуацией в той или иной степени. 
			Какая сфера влияния отводится самому Наполеону. А также, как на это влиять оптимальным для его стратегических целей образом. 
			Программа Наполеона стремится к расширению собственных границ власти, даже если истинные цели человека совсем другие.
		</p>
		<p>
			Хорошо чувствует характер взаимодействия между людьми и ориентируется при любом таком взаимодействии. 
			Хорошо осознает симпатии/антипатии других людей и свои. Может развивать их и усиливать, может менять свои симпатии в зависимости от ситуации. 
			Уверен в себе. Может влиять на симпатии/антипатии других, проявляя свое отношение к тем или иным их проявлениям. 
			Программа ТИМа не предполагает стабильное отношение, а предполагает стабильное ощущение себя, своей силы, своей уверенности, своего статуса, отношения с людьми для этого выстраиваются ситуативно. 
			Человек может разобраться как и какие отношения налаживать для того, чтобы быть лидером, если ему это нужно, конечно. Ему легко быть общительным. 
			Налаживать связи с людьми, в нужным момент их менять или восстанавливать. Таким образом чувствуя себя еще увереннее в ситуации.
		</p>
		<p>
			Наполеон может свободно ориентироваться в различных сложных этических ситуациях, в атмосфере интриг, и даже если отношения негативные. «Негативных» в общепринятом понимании для него особо не бывает, просто в каждой ситуации отношения свои, такие, которые просто формируют эту ситуацию. 
			И сложности такого рода могут даже вызывать интерес. Человек может рисковать отношениями, чувствуя степени риска и целесообразность этого.
		</p>
		<p>
			В силу слабой логики Наполеону может быть сложно описать словами, что происходит, какие отношения выстраиваются, зачем и т.д.  
			Ибо это естественный процесс. Наполеон склонен к образному мышлению, нежели системному. Воспринимает информацию конкретно. 
			Наполеону сложно решать абстрактные задачи, он мыслит конкретными образами, ощущениями. Чувствует себя «здесь и сейчас», чувствует, что конкретно происходит в пространстве и среди людей. 
			Но сложно предсказать развитие ситуаций в будущем. 
			Также сложно разобраться в причинно-следственных связях, компенсируя это налаживанием «ситуации сейчас».
		</p>
		<p>
			Может плохо отслеживать, быстро или медленно течет время. Сложно бывает понять, когда те ли иные действия своевременны. 
			Потому часто пришедшие в голову идеи стремится реализовать «сразу». 
			Мобилизуя тех, кто для этого нужен, к исполнению и участию. 
			Или же самостоятельно, ибо проявить должное упорство несложно. Бывает сложно планировать дела, определять оттенки их выполнения и влияние этого на эффективность.
			Может нужным образом заботиться о своей внешности, хорошо подбирать одежду себе и другим, обеспечить комфорт в тех количествах, которых считает это нужным. Уверены в себе, умеют управлять собой. 
			Плохо чувствуют то, насколько их действия будут важны и ценны в будущем, хорошо чувствуют момент «сейчас». У них часто хорошее самообладание.
		</p>
	</div>
</div>

</body>
</html>


