<html>
<head>
	<title>
		СЭИ - Дюма
	</title>
</head>
<body>

	
<div class="container-fluid" align="left">
	<div class="jumbotron" align="center">
		<h3 class="text-success">Психотип:<strong>Сенсорно этический интроверт (СЭИ) - Дюма</strong> </h3> 
	</div>
	<div class="jumbotron">
		<h3 class="text-primary"><strong>Краткое описание социотипа:</strong> </h3>
		<p>
			Дружелюбный, постоянно хорошо и оптимистично настроенный человек. Не навязывает другим свою волю. Свои настоящие переживания скрывает. 
			Всегда одинаково теплый, заботливый, улыбающийся. Не может ни просить, ни требовать услуг, все свои потребности старается удовлетворить своими силами.
			Тонко чувствует природу, искусство. Умеет запоминать и воспроизводить однажды пережитые эмоции. 
			Так Айвазовский писал свои морские пейзажи в комнате с темно-красными стенами, выходящими на противоположную от моря сторону. Ценит жизнь во всех разновидностях. 
			Любит удовольствия и умеет их давать. Художник в любви.
		</p>
		<p>
			Очень считается с удобствами других людей, внимателен и заботлив. 
			Очень быстрые, сознательные эмоциональные реакции, направленные на изучение и изменение эмоций окружающих. 
			Это причина множества шуток, от которых, если они невпопад, быстренько отказывается. 
			Происходит постоянное эмоциональное творчество, поиск наиболее действенных вариантов, которые активизируют партнера. С особым рвением контролирует настроения своих близких.
			Не может скандалить, говорить "нет", прервать нежелательное знакомство. Поэтому боится тех, кто может "прилипнуть". 
			Ему нужен человек, который при всяких обострениях тоже не склонен вступать в скандал, а уходит, хлопнув дверью. Именно так и ведет себя его дуал. 
			Например, Дюма-отец выбрал из множества своих любовниц Иду Феррье за то, что она держала его на более длинном поводке, чем остальные.
		</p>
		<p>
			Видит потребности людей, систему их мотиваций, с удовольствием всех агитирует и уговаривает. 
			Но нуждается в друге-дуале, чтобы знать, кого стоит уговаривать и на что, потому что такой друг знает потенциальные возможности людей, идей, начинаний.
			Не любит напоминать о себе, пока он не нужен. Старается не выделяться - ни как передовик, ни как отстающий. 
			Не любит конкурировать. Инициативен только на своей территории. 
			Интересно, что великому Дюма был необходим тайный соавтор - Макс, который написал заготовки "трех мушкетеров", "Граф Монте-Кристо" и большинство других романов прежде, чем за них взялся сам писатель.
		</p>
		<p>
			Плохое самочувствие заставляет его спрятаться, отлежаться. Падает настроение - не может манипулировать людьми. А тогда зачем же общаться?
		</p>
	</div>
</div>

</body>
</html>


