<html>
<head>
	<title>
		СЛЭ - Жуков
	</title>
</head>
<body>

	
<div class="container-fluid" align="left">
	<div class="jumbotron" align="center">
		<h3 class="text-success">Психотип:<strong>Сенсорно логический экстраверт (СЛЭ) - Жуков</strong> </h3> 
	</div>
	<div class="jumbotron">
		<h3 class="text-primary"><strong>Краткое описание социотипа:</strong> </h3>
		<p>
			Жуков считается довольно агрессивным типом, однако важно понимать, что это лишь потенциал и способности. 
			Проявить свой характер благодаря очень сильной и осознанной волевой сенсорике ему легко и доступно. 
			Если на Жукова кто-то оказывает давление — тот ответит вполне уверенно и решительно. 
			Силовая сенсорика его обычно неплохо угадывается по той властности с которой он ведёт себя с людьми. 
			Люди, обладающие этим типом, часто являются приверженцами армейских условий жизни, даже если никогда не служили в армии; могут интересоваться оружием, иметь воинственную позицию в определённых жизненных ситуациях.
		</p>
		<p>
			Человек с ТИМом Жуков видит мир довольно четко, конкретно, «здесь» и «сейчас». 
			Чувствует расстановку сил, кто является лидером, кто оказывает большее влияние на ситуацию. 
			Мир Жукова — пространство, территория, его территория. Хорошо ощущает свои цели и свои потребности, а также то, как организовать их достижение, возможно, с привлечением других людей. 
			«Программа ТИМа Жуков» — способность подбирать такие правила, ограничения и такую структуру, чтобы она работала на его цели. Создать правила и указания для людей, чтобы они работали на его цели и он мог ими управлять. 
			Чувствует, какое место в пространстве люди занимают, посягают ли на лидерство, кто из них значимее, является мощным конкурентом или нет.
		</p>
		<p>
			Жуков умеет распределять обязанности в коллективе для наилучшего достижения цели. 
			Умеет ставить стратегические задачи и четко планировать их выполнение, в любую минуту будучи готовым поменять схему выполнения, если ситуация того требует. 
			Также умеет реагировать быстро и решительно в случае экстренных ситуаций, по обстановке, более того, такие ситуации Жукова обычно мобилизуют и зачастую даже необходимы.
			Хорошо чувствует опасность, агрессию со стороны людей или ситуаций и ему легко разобраться, как в них реагировать, как себя вести, где и как стоит ответить и какими будут последствия. 
			Посему Жукову доступно бесстрашие и уверенность в том, что в нужной ситуации он за себя постоит. Может и сам создавать провоцирующие ситуации.
		</p>
		<p>
			Сталкиваясь с новой информацией, он умеет выстроить структуру, выделить главное в ней и понять, в том числе и то, как ему использовать эту информацию в своих целях. 
			Уважает политику решительных действий, риск. В других людях Жуков четко отслеживает степень уверенности в себе и степень беззащитности. 
			Более слабых умеет брать под свою защиту (однако не факт, что всегда захочет). 
			Ему приятно чувствовать себя авторитетным, пользующимся уважением и восхищением, чувствовать свою власть.
		</p>
		<p>
			Жукову может быть непросто разобраться в отношениях между людьми, атмосфере в коллективе или дома. 
			Он может поддаваться воздействию чужих эмоций, а слабого и беззащитного, но уважающего его человека, склонен взять под свое крыло. 
			Может не совсем гармонично и не совсем уместно проявлять себя в тонких этических ситуациях, вроде и хочется посочувствовать, пожалеть, проявить нужную эмоцию, но как это сделать – для него не очевидно и постигается уже на опыте (часто могут и не стремиться проявлять и чувствовать этику, а опираться на сильные функции – логику и сенсорику, помогать делом, например). 
			«Мне часто говорят, что я ругаюсь… Но я не ругаюсь, я просто так разговариваю» — слова одной представительницы ТИМа Жуков. 
			Зачастую они могут своим поведением задеть или обидеть и это не заметить.
		</p>
		<p>
			Им может быть легко грамотно ориентироваться в материально-техническом мире, разбираться в технике, в компьютерах, в транспортных средствах, в финансах. 
			Они умеют управлять собой и управлять другими. Тонкие интуитивные связи, предвидение, предусматривание ситуаций, которые неочевидны, но могли бы произойти — это для них почти что темный лес (опять же доступный, но посредством опыта и других людей).
		</p>
	</div>
</div>

</body>
</html>


