<html>
<head>
	<title>
		СЛИ - Габен
	</title>
</head>
<body>

	
<div class="container-fluid" align="left">
	<div class="jumbotron" align="center">
		<h3 class="text-success">Психотип:<strong>Сенсорно логический интроверт (СЛИ) - Габен</strong> </h3> 
	</div>
	<div class="jumbotron">
		<h3 class="text-primary"><strong>Краткое описание социотипа:</strong> </h3>
		<p>
			Габен обладает сильными сенсорикой ощущений и деловой логикой, работающими следующим образом: деловая логика для сенсорики ощущений. 
			То есть Габен будет стремиться минимумом действий добиться более качественного результата, который поможет ему гармонично жить. 
			Габены разумны и рассудительны, будут избегать лишних действий (например, будут тщательно изучать пульт ДУ от ТВ, чтобы не слезать с дивана/кровати). 
			Умеют заботиться и создавать вокруг себя уют и комфорт, однако немного тех людей, для которых они будут это делать. 
			Спокойны и часто неторопливы — важнее сохранить свое ощущение комфорта и гармонии, нежели вписываться в чьи-то временные рамки и ускорять процессы.
		</p>
		<p>
			Человек, который умеет минимальным количеством действий добиться нужных результатов. 
			Поверхностно разбирается в вопросах отношений с людьми, лаконичен и эффективен. 
			Умеет мастерить, чинить, разобраться в технике. Замкнутый человек. 
			Даже самым общительным представителям требуется отдых от активного взаимодействия с людьми. 
			Среди Габенов есть те, кто следит за собой и хочет хорошо выглядеть, равно как и те, кому этот вопрос не особо важен. 
			Но надо заметить, что если такая цель поставлена, то идеальный внешний вид может быть достигнут небольшими усилиями и затратами. 
			Знают, как следить за своим здоровьем, физическим состоянием.
		</p>
		<p>
			Люди с таким типом могут хорошо разбираться в технических предметах и технических вопросах, разбираться в физике процессов. 
			Могут хорошо разбираться в финансах, в вопросах организации деятельности, рабочего процесса. 
			Могут талантливо понимать, как и где можно сэкономить, или может заплатить и вложить деньги так, чтобы результат был оптимален.
			Благодаря сильной сенсорике, могут неплохо чувствовать пространство вокруг себя, разбираться в вопросах здоровья и самочувствия, лечения – наиболее эффективными методами в данной конкретной ситуации и в зависимости от целей в будущем. 
			Могут быть аккуратны, следить за внешностью минимальным количеством усилий но так, чтобы выглядело действительно стильно, аккуратно, эстетично. Однако, раз есть уверенность в этой функции, могут также и не обращать особого внимания на этот вопрос – и аккуратность и неряшливость могут быть свойственны любым ТИМам, вопрос в том, кому с этим проще и сколько усилий и с каким результатом потребуется для этого.
		</p>
		<p>
			Часто уверены в себе, могут постоять за себя как морально, так и физически. 
			Им сложно понять, как проявлять себя ярко и эмоционально, налаживать эмоциональный фон, веселить других, как грустить и переживать полную гамму чувств – в их эмоциях часто больше логики, анализа. 
			И ситуацию проще именно осмыслить, с точки зрения целесообразности, удобства для себя и для кого-то другого, чем прочувствовать. 
			Любят и ценят спонтанность, внезапные идеи, когда происходит что-то незапланированное и ценное и приятное для них. Хотя самим инициировать эти процессы сложнее – скорее это запрос по детскому блоку к кому-то другому. 
			Им может хотеться общаться, точнее, чтобы с ними общались, их общения добивались, разными способами налаживая с ними контакт, устанавливая связь.
		</p>
		<p>
			Сенсорика дает вполне конкретное мышление, мечтать и фантазировать Габенам сложнее, хотя, конечно, тоже могут. 
			Но чаще относятся к такому скептически, или, по крайней мере, разумная часть не позволяет забыть о том, что реально происходит в мире и полностью погрузиться в мир воображения. 
			При этом за счет сенсорики ощущений, находящейся в сильных функциях, могут обладать хорошим пространственным воображением, рисовать, обрабатывать, заниматься дизайном, оформлять. 
			Могут понять при желании, что нужно сделать, чтобы позаботиться о себе и о других, как покормить, как полечить, как одеть. 
			Если требуется что-то починить – то какими инструментами это лучше сделать, как именно.
		</p>
		<p>
			Часто молчаливы, лаконичны и склонны выбирать одиночество. 
			Могут быть ленивы и не амбициозны, не хвастливы, причем, в общем случае – трудолюбивы в той работе, которую берут на себя в связи со своим мастерством, могут кропотливо все выполнять, поддерживать рабочий процесс, развиваться в этом. 
			А лень проявляется тогда, когда надо проявлять яркую инициативу, связанную с другими людьми, новыми идеями. В общем, последний абзац — это не ТИМное, но большинству представителей Габенов такое свойственно.
			Им безусловно приятно, когда их хвалят и ими восхищаются, когда их труды оценены и признана их уникальность — часто им сложно оценить это самостоятельно. 
			Погружаться в себя и проявлять равнодушие — нормальное состояние для многих представителей данного типа. 
			Выстраивание планов идет автоматически, с целью выстраивания гармонии своего существования в физическом пространстве.
		</p>
	</div>
</div>

</body>
</html>


