<?xml version="1.0" encoding="utf-8"?>
<!--
Этот файл используется процессом публикации или упаковки вашего веб-проекта. Можно настроить поведение этого процесса,
изменив этот файл MSBuild. Подробности см. на странице https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/2f1599a8-6653-4322-a9f7-38dc1e66821d/resourceGroups/romansuvorov/providers/Microsoft.Web/sites/romansuvorov</ResourceId>
    <ResourceGroup>romansuvorov</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://romansuvorov.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>romansuvorov.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>romansuvorov</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$romansuvorov</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="SocionicEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=socionic.database.windows.net;Initial Catalog=Results;Persist Security Info=True;User ID=RuSh48;Password=RuSh25121989;Application Name=EntityFramework" Name="Data Source=socionic.database.windows.net;Initial Catalog=Results;Persist Security Info=True;User ID=RuSh48;Password=RuSh25121989;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="SocionicProjectWeb.SocionicEntities, SocionicProjectWeb" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="SocionicEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/SocionicDBConnect.csdl|res://*/SocionicDBConnect.ssdl|res://*/SocionicDBConnect.msl;provider=System.Data.SqlClient;provider connection string="Data Source=socionic.database.windows.net;Initial Catalog=Results;Persist Security Info=True;User ID=RuSh48;Password=RuSh25121989;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>